<h1><%= @article.title %></h1>
<p>Published at: <%= @article.published_at %></p>
<p>
  <%= highlight_word(@article.body, @word) %>
</p>
<p>
  Source: <%= link_to @article.url, @article.url, target: '_blank' %>
</p>
